.Login {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-background));

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 78px;
  }

  &__title-box {
    max-height: 45px;
    max-width: 45px;
    min-height: 45px;
    min-width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    background: rgb(var(--color-primary));
    box-shadow: 0 2px 4px rgba(var(--color-primary), 0.3);
  }

  &__title-text {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    color: rgb(var(--color-foreground));
    margin-left: 16px;
  }

  &__button-container {
    margin-top: 50px;
  }

  &__button-container > *:not(:first-child) {
    margin-top: 16px;
  }
}
