.FormStatus {
  font-family: Ubuntu, sans-serif;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba(var(--color-primary), 0.3);
  color: rgb(var(--color-primary));

  &__error {
    background-color: rgba(var(--color-error), 0.3);
    color: rgb(var(--color-error));
  }
}
