.Input {
  display: flex;
  flex-direction: row;

  &__el {
    min-height: 36px;
    max-height: 36px;
    border: none;
    align-self: flex-end;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 13px;
    color: rgba(var(--color-foreground), 0.65);
    width: 100%;
    background-color: transparent;
    margin-top: 4px;
  }

  &__hidden-label {
    position: absolute;
    top: -1000;
    left: -1000;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    overflow: hidden;
  }

  &__container {
    width: 100%;
  }

  @keyframes input-selected-animation {
    0% {
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    100% {
      border-bottom: 2px solid rgb(var(--color-primary));
    }
  }

  &__mode-default:focus {
    outline: none;
    animation: input-selected-animation 300ms ease-in-out;
    border-bottom: 2px solid rgb(var(--color-primary));
  }

  &__mode-error {
    border-bottom: 2px solid rgb(var(--color-error));
  }

  &__show-password {
    margin-top: 8px;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.5;
  }
}

.Input:not(:first-of-type) {
  margin-top: 16px;
}
