body {
  --color-primary: 68, 238, 170;
  --color-error: 255, 87, 95;
  --color-warning: 255, 197, 66;
  --color-foreground: 255, 255, 255;
  --color-background: 31, 46, 53;
  --color-background-primary: 48, 68, 78;
  --color-background-secondary: 38, 55, 62;
}
